<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        <li><a href="https://www.google.ru" target="myframe">Google</a></li>
        <li><a href="http://www.yandex.ru/" target="myframe">Yandex</a></li>
        <li><a href="https://duckduckgo.com/" target="myframe">DuckDuckGo</a></li>
    </ul>

    <a href="https://duckduckgo.com/" target="myframe">DuckDuckGo</a>
    <iframe src="http://example.com/" name="myframe"></iframe>

    <iframe src="http://example.com/" name="myframe"></iframe>
</body>

</html>